@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arvo|Muli);

* {
    margin: 0px;
    padding: 0px;
}

/*=== colors & typography ==*/
body {
    background-color: #FFFFFF;
    font-family: 'Muli', 'Arial', sans-serif;
    font-weight: 400;
}

h3, h4, h5{
    font-family: 'Arvo', serif;
    font-weight: 400;
    /*text-align: center;*/
}

h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    
}

header{
    background-color:#ADCD39;
}
