@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arvo|Muli);

* {
    margin: 0px;
    padding: 0px;
}

/*=== colors & typography ==*/
body {
    background-color: #FFFFFF;
    font-family: 'Muli', 'Arial', sans-serif;
    font-weight: 400;
}

h3, h4, h5{
    font-family: 'Arvo', serif;
    font-weight: 400;
    /*text-align: center;*/
}

h4 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    
}

header{
    background-color:#ADCD39;
    color: #FFFFFF;
}

/*== positioning ==*/
#mainMenu li a{
    margin-bottom: 20px;
}

header {
    margin-bottom: 30px;
} 

/*== extras ==*/
.button {
    color: #5EB246;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    border: solid 1px;
    display: inline-block;
    border-radius: 8px;
    border-width: 2px;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    /*transition: border-color 0.25s ease;*/
   
}