@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arvo|Muli);
* {
    margin: 0px;
    padding: 0px;
}


/*=== colors & typography ==*/

body {
    background-color: #FFFFFF;
    font-family: 'Muli', 'Arial', sans-serif;
    font-weight: 400;
    text-align: center;
}

h2, h3, header h4, .binName{
    font-family: 'Arvo', serif;
    font-weight: 400;
    text-align: center;
}

header h4 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

header {
    background-color: #ADCD39;
    color: #FFFFFF;
}

#playHeader {
    background-color: #FFFFFF;
}

.objName {
    color: #4A4A4A;
}

.sectTitle {
    font-size: 20px;
    font-family: 'Muli', 'Arial', sans-serif;
}

h5 {
    font-family: 'Muli', 'Arial', sans-serif;
}

/*== extras ==*/

.button {
    color: #5EB246;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    border: solid 1px;
    display: inline-block;
    border-radius: 25px;
    border-width: 2px;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

h6 {
    visibility: hidden;
}

/*== positioning ==*/
header {
    margin-bottom: 70px;
    padding: 10px;
}

.marginBtmSm {
    margin-bottom: 15px;
}

.marginBtmMd {
    margin-bottom: 30px;
}

.marginBtmLg {
    margin-bottom: 50px;
}

.marginTopMd {
    margin-top: 30px;
}

.marginTopLg{
    margin-top: 50px;
}

#mainMenu li {
    margin-bottom: 30px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav .navIcon a{
    float: left;
}

nav .navIconPlay {
    float: left;
}

nav h4{
    position: relative;
}

body p{
    width: 330px;
    margin: auto;
    text-align: left;
    padding-bottom: 15px;
    line-height: 21px;
}

body ol li {
    width: 300px;
    margin: auto;
    text-align: left;
     padding-bottom: 15px;
    line-height: 21px;
}

header h4 {
    float: right;
    width: 200%;
    margin: auto;
}

footer h5 {
    float: right;
}

/*== grid ==*/

* {
    box-sizing: border-box;
}

.container {
    width: 360px;
    margin: auto;
}

.container2 {
    width: 640px;
    height: 360px;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.one-whole {
    width: 100%;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33%;
}

